<!-- templates/job_card.html -->
<div class="job-block" style="margin-bottom: 5px;">
    <strong style="font-size: 1.1rem; color: #191919;">{job_position}</strong><br>
    <a href="{job_url}" target="_blank" style="
        text-decoration: none; 
        color: #0a66c2; 
        font-weight: 500;
        font-size: 1rem;">{job_name}</a><br>
    <span style="color: #666666; font-size: 0.85rem;">{job_period}</span>
    <div class="job-skills" style="margin-top: 6px; font-size: 0.95rem; color: #191919;">
        <strong>Ключевые навыки:</strong> {job_skills}
    </div>
</div>
